body {
	margin: 0;
	display: flex;
    width: 100vw;
    height: 100vh;
	overflow: hidden;
	font-family: Arial, sans-serif;
	background-color: #1c1c1c;
	font-size: 14px;
	color: #fff;
}

#simulationCanvas {
    flex: 1;
    background-color: #000;
    overflow: hidden;
    object-fit: contain;
}

#controls {
	width: 250px;
    height: 100%;
	padding: 20px;
	background-color: #2c2c2c;
	display: flex;
	flex-direction: column;
	gap: 18px;
	overflow-y: auto;
}

#hr1 {
	font-size: 1px;
}

.hidden #controls {
	display: none;
}

#controlsToggle {
	right: 300px;
    position: absolute;
    top: 49%;
    cursor: pointer;
}

.hidden #controlsToggle {
    right: 5px;
}

.control-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.color-indicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}

input[type="number"] {
	text-align: center;
	width: 35%;
	padding: 5px;
	background-color: #444;
	border: 1px solid #555;
	color: #fff;
}

input[type="checkbox"] {
	margin-right: 1.1%;
}

input[type="range"] {
    transition: all 1.3s ease;
}

button {
	padding: 10px;
	background-color: #444;
	border: 1px solid #555;
	color: #fff;
	cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
	background-color: #666;
}

.checkbox-group {
	display: flex;
	align-items: center;
	gap: 5%;
}

.checkbox-group input {
	width: auto;
}

.checkbox-group label {
	display: flex;
	align-items: center;
}

.slider-container {
	opacity: 0.8;
	position: relative;
	width: 100%;
}

.slider {
	width: 100%;
	height: 4px;
	background: #ddd;
	outline: none;
	opacity: 0.7;
	transition: opacity .15s ease-in-out;
}

.slider:hover {
	opacity: 0.8;
}

.tooltip {
	background: none;
	color: #fff;
	padding: 2%;
	font-size: 12px;
	white-space: nowrap;
	display: none;
}

.btn-group {
	display: flex;
}

.btn {
	flex: 1
}

#startPauseBtn {
	position: absolute;
	left: 15px;
	bottom: 15px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.hidden #fullscreenBtn {
    right: 15px;
}

#fullscreenBtn {
    display: block;
	position: absolute;
	right: 302.5px;
	bottom: 15px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#resetViewBtn {
    display: block;
	position: absolute;
	left: 15px;
	bottom: 70px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
	opacity: 0.85;
}

#helpBtn {
	position: absolute;
	right: 302.5px;
	top: 15px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.hidden #helpBtn {
    right: 15px;
    transition: right 0.1s ease;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	top: 10%;
    position: relative;
    width: 50%;
    height: 60%;
    margin: auto;
    background-color: #2c2c2c;
	color: #adadad;
    padding: 1.75%;
    border-radius: 0.85%;
    overflow-y: auto;
	font-size: 16px;
	text-align: justify;
	text-justify: inter-word;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
	position: absolute;
	top: 0.8%;
	right: 1.6%;
	color: #aaa;
	font-size: 34px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#startPauseImg, #helpImg, #resetViewImg {
    width: 2.8vw;
    height: auto;
    display: block;
}

#fullscreenImg {
    width: 2.3vw;
    height: auto;
    display: block;
}

.hidden #startPauseImg,
.hidden #helpImg,
.hidden #button,
.hidden #controlsToggle,
.hidden #fullscreenBtn,
.hidden #resetViewBtn,
.hidden #timer,
.hidden #fpsDisplay,
.hidden #UsageDisplay,
.hidden #mouseCoords {
    transition: opacity 0.3s ease;
	opacity: 0.3;
}

#helpBtn:hover,
#startPauseBtn:hover,
#controlsToggle:hover,
#fullscreenBtn:hover,
#resetViewBtn:hover {
    transition: filter 0.2s ease;
	filter: brightness(2);
}

#displaySettings,
#simulationSettings,
#objectSettings {
	font-style : italic;
}