body {
	margin: 0;
	display: flex;
	height: 100vh;
	overflow: hidden;
	font-family: Arial, sans-serif;
	background-color: #1c1c1c;
	color: #fff;
}

#simulationCanvas {
    flex: 1;
    background-color: #000;
    position: relative;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

/* .hidden #simulationCanvas {
	transition: transform 0.3s ease-in-out;
} */

#controls {
	width: 260px;
    height: 100%;
	padding: 20px;
	background-color: #2c2c2c;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-y: auto;
    position: relative;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.hidden #controls {
    transform: translateX(100%);
}

#controlsToggle {
	right: 305px;
    position: absolute;
    top: 49%;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
}

.hidden #controlsToggle {
    right: 5px;
}

.control-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.color-indicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}

label {
	font-size: 14px;
}

input[type="number"] {
	width: 80px;
	padding: 5px;
	background-color: #444;
	border: 1px solid #666;
	color: #fff;
}

input[type="checkbox"] {
	margin-right: 5px;
}

button {
	padding: 10px;
	background-color: #444;
	border: 1px solid #666;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #666;
}

.checkbox-group {
	display: flex;
	align-items: center;
	gap: 10px;
}

.checkbox-group input {
	width: auto;
}

.checkbox-group label {
	display: flex;
	align-items: center;
}

#startPauseBtn {
	position: absolute;
	bottom: 20px;
	left: 15px;
}

.icon-trash {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url('image/trash-icon.png');
  background-size: cover;
  vertical-align: middle;
}	flex: 1;

.slider-container {
	position: relative;
	width: 100%;
}

.slider {
	position: center;
	-webkit-appearance: none;
	width: 90%;
	height: 8px;
	background: #ddd;
	outline: none;
	opacity: 0.7;
	transition: opacity .15s ease-in-out;
}

.slider:hover {
	opacity: 1;
}

.tooltip {
	position: absolute;
	background: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
	white-space: nowrap;
	display: none;
}

.btn-group {
	display: flex;
}

.btn {
	flex: 1
}

.mrgn-bttm-lg {
	margin-bottom: 20px;
}